<?xml version="1.0"?>
<config>
    <modules>
        <TM_Fedex>
            <version>0.1.1</version>
        </TM_Fedex>
    </modules>
      <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <TM_Fedex before="Mage_Adminhtml">TM_Fedex</TM_Fedex>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global> 
        <helpers>
            <tm_fedex>
                <class>TM_Fedex_Helper</class>
            </tm_fedex>
        </helpers>
        <models>
            <tm_fedex>
                <class>TM_Fedex_Model</class>
            </tm_fedex>
            <usa>
                <rewrite>
                    <shipping_carrier_fedex>TM_Fedex_Model_Usa_Shipping_Carrier_Fedex</shipping_carrier_fedex>
                </rewrite>
            </usa>
            <sales>
                <rewrite>
                    <quote_address_rate>TM_Fedex_Model_Sales_Quote_Address_Rate</quote_address_rate>
                </rewrite>
            </sales>
        </models>    
        <blocks>
            <tm_fedex>
                <class>TM_Fedex_Block</class>
            </tm_fedex>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>TM_Fedex_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
        </blocks>  
    </global>
</config>